@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap:100, 200, 300, 400, 500, 600, 700');

/*-------------------------------------Colors */

.bg-color-logo {
    background-color: #312C2C;
}

.bg-color-white {
    background-color:#fff;
}

.bg-color-yellow {
    background-color: #FFE55A;
}

/*-------------------------------------Special paddings/margins/text */ 

h2, h3 p {
    margin: 0;
}


.yellow-line {
    border: 3px solid #FFE55A;
    border-radius: 5px;
    text-align: center;
    width: 25%;
}

.yellow-line-short {
    border: 2px solid #FFE55A;
    border-radius: 5px;
    text-align: center;
    max-width: 20%;
}

.upper-section {
    width: 100%;
    border-radius: 0;
    padding: 0;
    margin-top: 20px;
    margin-bottom: 20px;
}

/*------------------------------------- Heading */

header {
    margin: 0;
}

.header-space {
    margin-bottom: 30px;
}

.menucontainer {
    font-size: 0;
}

.logo {
    font-family: "roboto", sans-serif;
    font-weight: 200;
    font-size: 35px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    color: #fff;
    letter-spacing: 1px;
    float: left;
}

#nav {
    float: right;
}

#nav li {
    padding: 0;
    list-style-type: none;
    float: left;
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 10px;
}

li#home {
    float: left;
}

li#about {
    float: left;
}

.menuitem {
    height: 30px;
    padding: 0;
}

.menuitem a {
    width: 100%;
    text-decoration: none;
    color:#fff;
    height: 30px;
}

.menuitem span{
    display: block;
    width: 100%;
    padding-top: 5px;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 1px;
}

#yellow-text {
    color: #FFE55A;
}

/*------------------------------------- Heading/ Navbar mobile */

.navbar {
    background-color: #312C2C;
    padding: 0;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}


.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
    margin-bottom: 10px;
}

.navbar-brand {
    font-family: "roboto", sans-serif;
    font-weight: 200;
    font-size: 35px;
    margin-top: 10px;
    margin-left: 20px;
}

.navbar-light .navbar-brand {
    color: #fff;
}


.navbar-light .navbar-brand:hover {
    color: #fff; 
    }

.fa-1x {
font-size: 1.5rem;
}

.navbar-toggler.toggler-example {
cursor: pointer;
}

.navbar-light .navbar-toggler {
    color: #fff;
    border-color: #312C2C;
}

.fa-bars:before {
    content: "\f0c9";
    font-size: 40px;
    margin-right: 20px;
}

.navbar-nav {
    margin-left: 20px;
}

.navbar-nav .nav-link {
    padding-right: 30px;
    padding-left: 2px;
}

.navbar-light .navbar-nav .active>.nav-link {
    color: #fff;
    font-family: "roboto", sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
     font-family: "roboto", sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
}

/*------------------------------------- Footer */

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px; 
}


.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px; 
  line-height: 60px; 
  background-color: #312C2C;
}

.quote-footer {
    font-family: "roboto", sans-serif;
    font-size: 15px;
    font-style: italic;
    color: #fff;
}

.social-links{
    float: right;

}

.social-links li {
    padding: 0;
    list-style-type: none;
    float: left;
    margin-left: 5px;
    margin-right: 5px;
}

.social-logo {
    width: 32px;
    height: 33px;
    padding: 12px 0;
    font-size: 25px;
}

.social-logo a{
    width: 100%;
    color: #fff;
}

/*------------------------------------- about */


.introduction-block{
    border-radius: 0;
}

.title-personal-intro {
    font-family: "roboto", sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
}

.personal-intro {
    font-family: "roboto", sans-serif;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
}

/*------------------------------------- Contact */


.display-3 {
    font-family: "roboto", sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.display-4{
    font-family: "roboto", sans-serif;
    font-size: 20px;
    font-weight: 600;
}

.contact-intro {
    height: 10px;
    border-radius: 10px;
    padding: 1em 1em;
    margin: auto;
    margin-bottom: 40px;
    margin-top: 30px;
    display: table; 
}

.contact-text {
    font-family: "roboto", sans-serif;
    font-size: 15px;
    text-align: center;
}

#contact-space{
    margin: 20px;
}

/*------------------------------------- Contact Form */

.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 60%;
}

.form-control{
    background-color:#E3E3E3;
    border-color: transparent;
    padding: 1em 1em;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 3px;
}

.my-form {
    margin-right: 10px;
}

.my-textarea {
    margin-left: 8px;
    margin-right: 1px;
}

.button-position {
    margin: auto;
}

button[type="sumbit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    color: #000;
    background-color: #FFE55A;
    border-color: transparent;
   
}

.white-spacing {
    margin-bottom: 30px;
}

/* in the W3C CSS validator it was a phrase error
.btn-secondary:hover {
    color: #fff;
    background-color: #312C2C;

    */


