 /*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/


@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap:100, 200, 300, 400, 500, 600, 700');

/*-------------------------------------Colors */

.bg-color-logo {
    background-color: #312C2C;
}

.bg-color-white {
    background-color:#fff;
}

.bg-color-yellow {
    background-color: #fddf3f;
}

/*-------------------------------------Special paddings/margins/text */ 

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px; 
}

h2, h3, h4, p {
    font-family: "roboto", sans-serif;
    margin: 0;  
}

h2 {
    font-size: 30px;
    font-weight: 700;
}

p {
    font-size: 20px;
    font-weight: 500;
    margin: 30px;
}

.my-container {
    border-radius: 0;
    padding: 2em 0em;
}

.container-mobile {
    padding: 0;
}

.upper-section {
    padding: 1em;
    margin-top: 30px;
}

.overall-title {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

/*------------------------------------Yellow Lines */ 

.yellow-line {
    border: 3px solid #fddf3f;
    border-radius: 5px;
    text-align: center;
    width: 25%;
}

.yellow-line-home {
    border: 2px solid #fddf3f;
    border-radius: 5px;
    width: 70%;
    margin-left: 0;

}

.yellow-line-short {
    border: 2px solid #fddf3f;
    border-radius: 5px;
    text-align: center;
    max-width: 20%;
}

.yellow-line-bottom {
    border: 3px solid #fddf3f;
    border-radius: 5px;
    text-align: center;
    width: 25%;
    margin-top: 40px;
    margin-bottom: 40px;
}

/*------------------------------------- Heading */

header {
    margin: auto;
}

.menucontainer {
    font-size: 0;
    margin-right: 20px;
}

#nav {
    float: right;
}

#nav li {
    padding: 0;
    list-style-type: none;
    float: left;
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 10px;
}

li#home {
    float: left;
}

li#about {
    float: left;
}

.menuitem {
    height: 30px;
    padding: 0;
}

.menuitem a {
    width: 100%;
    text-decoration: none;
    color:#fff;
    height: 30px;
}

.menuitem span{
    display: block;
    width: 100%;
    padding-top: 5px;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1px;
}

#yellow-text {
    color: #fddf3f;
}

/* ------------------------------------- Heading mobile */

.navbar {
    background-color: #312C2C;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.navbar-brand {
    font-family: "roboto", sans-serif;
    font-weight: 200;
    font-size: 35px;
    margin-top: 10px;
    margin-left: 20px;
    color: #fff;
}

.navbar-brand:hover {
    color: #fff;
}

.navbar-light .navbar-brand  {
    color: #fff;
}

.navbar-light .navbar-brand:hover {
    color: #fff; 
    }

.fa-1x {
font-size: 1.5rem;
}

.navbar-light .navbar-toggler {
    color: #fff;
    border-color: #312C2C;
}

.fa-bars:before {
    font-size: 40px;
    margin-right: 20px;
}

.navbar-nav {
    margin-left: 20px;
}

.navbar-nav .nav-link {
    padding-right: 30px;
    padding-left: 2px;
}

.navbar-light .navbar-nav .active>.nav-link {
    color: #fff;
    font-family: "roboto", sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
}

.navbar-light .navbar-nav .active>.nav-link:hover {
    color: #fff;
    font-family: "roboto", sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
    font-family: "roboto", sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
}

.navbar-light .navbar-nav .nav-link:hover{
    color: #fff;
    font-family: "roboto", sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
}

/* ------------------------------------- Footer */

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px; 
  line-height: 60px; 
  background-color: #312C2C;
  margin: auto;
}

.quote-footer {
    font-family: "roboto", sans-serif;
    font-size: 15px;
    font-style: italic;
    color: #fff;
}

.social-links{
    float: right;
}

.social-links li {
    padding: 0;
    list-style-type: none;
    float: left;
    margin-left: 5px;
    margin-right: 5px;
}

.social-logo {
    width: 32px;
    height: 33px;
    padding: 12px 0;
    font-size: 30px;
}

.social-logo a{
    width: 100%;
    color: #fff;
}

/* ------------------------------------- Home  */

.my-row-mobile {
    padding-left: 3em;
    padding-top: 10em;
    padding-bottom: 2em;
}

.my-container-home {
    padding: 4em 3em;
}

.my-container-home-2 {
    border-radius: 0;
    padding: 2em 0em;
}

.box {
    width: 270px;
    height: 270px;
    position: absolute;                       
    top: 20px;
    left: 30px;
}

.yellow {
    background: #fddf3f;
    z-index: 1;
}

.overlay-picture {
    z-index: 2;
}

.overlay-picture img {
    width: 270px;
    height: 270px;
}

.home-col {
    margin-left: 100px;
    margin-top: 50px;
}

.home-col h2{
    font-size: 50px;
}

.home-col p {
    font-size: 15px;
    font-weight: 600;
    margin: 0;
}

.button-about {
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    background-color: #312C2C;
    border-color: transparent;
    margin: auto;
    border-radius: 15px;
}

.button-about:hover {
    color: #000;
    background-color:#fddf3f;
    border-color: #312C2C;
    border-width: 2px;
}

.cta-contact {
    margin: auto;  
}

.button-contact {
    font-size: 20px;
    font-weight: 500;
    color:#000;
    background-color: #fddf3f;
    border-color: transparent;
    margin: auto;
    border-radius: 15px;
}

.button-contact:hover {
    color: #fff;
    background-color: #312C2C;
    border-color: transparent;
}

/*------------------------------------- Skills */

.my-container-skills {
    padding: 1em 2em;
}

.my-container-education {
    padding: 1em 3em;
}

.skills-intro {
    font-weight: 400;
    padding: 0;
}

.skills-intro a {
    font-weight: 600;
    color: #312C2C;   
}

.timeline-item {
    padding: 4em 2em 0em 2em;
    position: relative;
    color: #000;
    border-left: 2px solid;
}

.timeline-item h4 {
    font-size: 20px;
    font-weight: 500;
}

.timeline-item p {
    padding: 0;
    margin: 0; 
    font-size: 15px;
    font-weight: 400; 
    font-style: italic;
}

.timeline-item:before {
    content: attr(data-dates);
    position: absolute;
    left: 2.5em;
    top: 3em;
    display: block;
    font-weight: 300;
    font-size: 0.8em;
    padding: 0;
    margin: 0;
}

.timeline-item:after {
    width: 12px;
    height: 12px;
    display: block;
    top: 2.4em;
    position: absolute;
    left: -6px;
    border-radius: 12px;
    content: '';
    background: #000;
}

.education-items {
    margin-bottom: 30px;
    margin-left: 40px;
}
/*------------------------------------- Projects */

.projects-intro {
    border-radius: 10px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 60px;
    display: table; 
}

.projects-intro p {
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 10px;
}

.projects-intro a {
    color: #000;
    font-weight: 600;
}

.my-row-projects {
    margin-bottom: 30px;
    margin-top: 30px;
}

.hvrbox, 
.hvrbox * {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

.hvrbox {
	position: relative;
	display: inline-block;
	overflow: hidden;
	max-width: 100%;
	height: auto;
}

.hvrbox img {
	max-width: 100%;
    border-radius: 10px;
}

.hvrbox .hvrbox-layer_bottom {
	display: block;
}

.hvrbox .hvrbox-layer_top {
	opacity: 0;
	position: absolute;
    border-radius: 10px;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: #fddf3f;
	color: #000;
	padding: 15px;
	-webkit-transition: all 0.4s ease-in-out 0s;
	-o-transition: all 0.4s ease-in-out 0s;
	transition: all 0.4s ease-in-out 0s;
}

.hvrbox:hover .hvrbox-layer_top,
.hvrbox.active .hvrbox-layer_top {
	opacity: 1;
}

.hvrbox-layer_top p {
    font-size: 15px;
    margin: 10px;
    margin-bottom: 10px;
    display: inline-block;
}

.hvrbox-layer_top a {
    color: #000;
    font-size: 13px;
    font-weight: bold;
}

/*------------------------------------- Contact */

.my-container-contact {
    padding: 1em 0em;
}

.contact-intro {
    border-radius: 10px;
    margin: auto;
    margin-bottom: 40px;
    display: table; 
}

.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 60%;
}

.form-control {
    font-size: 20px;
    width: 100%;
    background-color:#E3E3E3;
    border-color: transparent;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 8px;
}

.my-textarea {
    margin-left: 8px;
    margin-right: 1px;
}

.button-position {
    margin: auto;
    padding: 1em;
    text-align: center;
}

button[type="submit"] {
    font-size: 20px;
    font-weight: 500;
    color: #000;
    background-color: #fddf3f;
    border-color: transparent;
    margin-top: 15px;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 5px 10px;
}

button[type="submit"]:hover {
    color: #fff;
    background-color: #312C2C;
}

/*------------------------------------- MEDIA QUERIES | responsive desktop */

@media (min-width: 800px) {
    .button-contact {
        margin-left: 20px;
    }
    .cta-contact {
        margin-right: 20px;  
    }
}

@media (max-width: 768px) {
    .my-container-home {
        padding-top: 60px;
        padding-bottom: 20px;
    }
     .upper-section {
        padding: 1em;
        padding-top: 60px;
    }
    .my-row-projects {
        margin: auto;
    }
    .my-col-projects {
        padding-bottom: 20px;
        text-align: center;
    }
    .my-container-education {
        padding: 1em 2em;
    }
    .my-row-contact {
        padding: 0;
        margin: 0;
        text-align: center;
    }
}

/*------------------------------------- MEDIA QUERIES | for iPhone 6/7/8 plus   */

@media screen and (max-width: 500px) {
    .button-contact{
        font-size: 20px;
        margin-top: 10px;
    }
    .hvrbox-layer_top p {
        font-size: 20px;
    } 
    .hvrbox-layer_top a {
        font-size: 20px;
    }
}

/*------------------------------------- MEDIA QUERIES | for galaxy5/iphone 5/se/6/7/8/x  */

@media screen and (max-width: 400px) {
    .button-contact{
        font-size: 15px;
        margin-top: 10px;
    }
    .my-col {
        position: absolute;
    }
    .my-col .quote-footer {
        margin-left: 10px;
    }
    .skills-intro {
        margin: 10px;
    }
    .my-container-skills {
        padding: 0em 1.5em;
    }
    .timeline-item h4 {
        font-size: 15px;
    }
    .timeline-item p {
        font-size: 10px;
    } 
    .hvrbox-layer_top p {
        font-size: 17px;
    } 
    .hvrbox-layer_top a {
        font-size: 17px;
    }
}

/*------------------------------------- MEDIA QUERIES | for ipad  */ 

@media screen and (min-width: 768px) and (max-width: 1023px) {
      p {
          font-size: 25px;
      }
      .overall-title {
          font-size: 50px;
      }
      my-container-home {
          padding: 2em;
      }
      .my-container-home-2 {
          margin-top: 30px;
          margin-bottom: 30px;
          padding: 4em 3em;
      }
      .home-col h2 {
          font-size: 30px;
      }
      .yellow {
          height: 200px;
            width: 200px;
      }
      .overlay-picture img {
          width: 200px;
          height: 200px;
      }
      .my-container-about{
          padding: 3em;
      }
      .timeline-item h4 {
        font-size: 25px;
      } 
      .timeline-item p {
        font-size: 20px;
      } 
      .projects-intro{
          height: 170px;
      }
      .projects-intro p{
          padding: 1em;
          font-size:25px;
      }
      .contact-intro {
          height: 180px;
      }
      .contact-intro p {
          padding: 1em;
      }
      .my-container-contact h2 {
            font-size: 40px;
      }
      .form-control {
          width: 100%;
      }
      .my-col-form {
          padding: 5px;
      }
      .btn:not(:disabled):not(.disabled) {
        font-size: 25px;
    }
  }

 

  /*------------------------------------- MEDIA QUERIES | for ipad pro  */

  @media screen and (min-width: 1024px) and (max-width: 1366px) {
      p {
          font-size: 25px;
      }
      .overall-title {
          font-size: 50px;
      }
       .my-container-home-2 {
          margin-top: 50px;
          margin-bottom: 50px;
          padding: 7em 3em;
      }
      .my-container-home-2 p {
          font-size: 30px;
      }
      .home-col h2 {
          font-size: 50px;
      }
      .yellow {
          height: 300px;
            width: 300px;
      }
      .overlay-picture img {
          width: 300px;
          height: 300px;
      }
      .my-container-home-3 h2 {
          font-size: 40px;
      }
      .my-container-about{
          padding: 9em 1em;
          margin-top: 40px;
      }
      .yellow-line-bottom{
          margin-top: 80px;
      }
      .skills-intro {
          font-size: 25px;
      }
      .my-container-education {
        padding: 6.2em 3em;
      }
      .timeline-item h4 {
        font-size: 25px;
      } 
      .timeline-item p {
        font-size: 20px;
      } 
      .projects-intro{
          height: 200px;
          margin-top: 50px;
          margin-bottom: 100px;
      }
      .projects-intro p{
          padding: 2em;
      }
      .my-row-projects {
          margin-top: 50px;
          margin-bottom: 60px;
      }
      .contact-intro {
          height: 200px;
      }
      .my-container-contact {
          padding: 2em;
      }
      .my-container-contact h2 {
            font-size: 45px;
      }
      .form-control {
          font-size: 30px;
          width: 100%;
      }
      .my-col-form {
          padding: 1em;
      }
      .btn:not(:disabled):not(.disabled) {
          font-size: 30px;
      }
  }

   /*------------------------------------- MEDIA QUERIES | for >1680px desktop */

@media screen and (min-width: 1680px) {
       p {
          font-size: 25px;
      }
      .overall-title {
          font-size: 50px;
      }
      .my-container-home {
          padding: 2em 3em;
      }
       .my-container-home-2 {
          margin-top: 50px;
          margin-bottom: 10px;
          padding: 2em 3em;
      }
      .my-container-home-2 p {
          font-size: 30px;
      }
      .home-col {
          margin-left: 150px;
          margin-top: 50px;
      }
      .home-col h2 {
          font-size: 70px;
      }
      .home-col p {
          font-size: 30px;
      }
      .yellow {
          height: 300px;
            width: 300px;
      }
      .overlay-picture img {
          width: 300px;
          height: 300px;
      }
      .my-container-home-3 h2 {
          font-size: 40px;
      }
      .my-container-about{
          padding: 2em 1em;
      }
      .yellow-line-bottom{
          margin-top: 30px;
      }
      .skills-intro {
          font-size: 25px;
      }
      .my-container-education {
        padding: 1em;
      }
      .timeline-item h4 {
        font-size: 25px;
      } 
      .timeline-item p {
        font-size: 20px;
      } 
      .projects-intro{
          height: 70px;
          margin: auto;
          margin-bottom: 70px;
      }
      .projects-intro p{
          padding: 1em;
      }
      .my-row-projects {
          margin-top: 30px;
          margin-bottom: 30px;
      }
      .contact-intro {
          height: 70px;
          margin-bottom: 0;
      }
      .my-container-contact {
          padding-top: 2em;
          padding-bottom: 0;
      }
      .my-container-contact h2 {
            font-size: 45px;
      }
      .form-control {
          font-size: 25px;
          width: 100%;
      }
      .my-col-form {
          padding: 1em;
      }
      .button-position {
          padding: 0;
      }
      .btn:not(:disabled):not(.disabled) {
          font-size: 30px;
      }
  }


  









